.container {
  background-color: var(--vscode-activityBar-background);
  padding: 10px;
}
.container h3 {
  margin-top: 0;
  color: var(--vscode-peekViewTitleLabel-foreground);
  font-size: 14px;
}
.container button {
  background-color: var(--vscode-button-background);
  border: 0;
  color: var(--vscode-button-foreground);
  padding: 5px 10px;
  cursor: pointer;
}
.container button:hover {
  background-color: var(--vscode-button-hoverBackground);
}
.container p {
  font-size: 13px;
}
